<!DOCTYPE html>
<html lang="en" dir="ltr>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Prediction</title>
    <link rel="icon" href="{{url_for('static',filename='images/favicon.ico')}}">
	<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
    <style>
        .bod {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border: 2px solid black;
        }
    </style>
</head>

<body class="front_html">
    <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkFxaByL5jCkaePuFGB3u2vbkB9vrQSSwOCH07U0QR1Q&s"
            alt="VIT LOGO" class="center">
    </div>
    <div class="title">
        <h1 class="text-center">
            <tittle>BREAST CANCER CLASSFICATION WEBSITE</tittle>
        </h1>
    </div>
    <br><br>
    <div class="table-responsive" style="cursor:auto;">
        <h2>
            <table class="table-striped bod table">
                <thead>
                    <tr>
                        <th class="text-center">
                            <h1><b>LOGIN</b></h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><a href="/user">
                                <u>USER PAGE</u>
                            </a>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="text-center"><a href="/researcher">
                                <u>RESEARCHER PAGE</u>
                            </a>
                        </td>
                    </tr>
                </tbody>
        </h2>
        </table>
    </div>
</body>

</html>